

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    --primary-color: blue;
    --font-tittle: 'Montoserraf';
    --font-default: 'Poppins'
}

body{
    font-family: var(--font-default);
}

#menu-icon{
    color: white;
    text-shadow: black;
    position: fixed;
    z-index: 10;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

#menu{
    position: fixed;
    background-color: rgb(150, 158, 158);
    height: 100vh;
    padding: 3rem;
    z-index: 9;
    right: 0;
    transform: translateX(100%);
    transition: transform 1s;
}

#menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

#menu.open{
    transform: translateX(0);
}

.icon{
    width: 24px;
    height: 24px;
}

#menu li{
    padding: 1rem;
    border-radius: .5rem;
    transition: background-color .5s;
}

menu li:hover{
    background-color: #252739;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 100vh;
    position: relative;
    padding-left: 6.8rem;
    padding-top: 16.8rem;
    overflow: hidden;
}

header:before {
    content: '';
    background-image: url(../imagens/image\ 1.png);
    background-size: cover;
    height:100%; 
    width:100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

h1{
    color: #fff;
    text-shadow: 3px 0px 7px rgba(0, 0, 1, 1.5) ;
    font-family: sans-serif;
    font-size: 4rem;
}

header span{
    font-size: 2rem;
    text-shadow: 4px 2px 10px rgb(0, 0, 1.5);
}

.botao{
    background-color: blue;
    color: #fff;
    font-family: var(--font-default);
    padding: .25rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 1s;
}

.botao:hover{
    background-color:blueviolet;

}

#secao-apresentacao{
    display: flex;
    height: 50vh;
    padding: 6rem;
    gap: 2rem;
}

#secao-apresentacao img{
    border-radius: 32px;
}

#secao-apresentacao div{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
}

#secao-projetos{
    height: 100vh;
    background-color: #252739;
}

.card{
    max-width: 500px;
    height: 500px;
    position: relative;
    cursor: pointer;
}

.card:hover .card-content{
    opacity: 1;
    transform: translateY(0);
}

#secao-projetos ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.card-image-wrapper{
    height: 380px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 1rem;
}

.card-image-wrapper img{
    height: 186px;
    width: 132px;
}


.card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: .5rem;
    opacity: 0;
    transform: translateY(2rem);
    transition: opacity 1s, transform 1s;
}

.card h2 {
    color: #0c0c0c;
    font-size: 1.5rem;
}

.card h3 {
    color: #0e0e0f;
}

.card p {
    color: rgb(255, 238, 0);
}

#secao-orcamento{
    height: 100vh;
    padding: 3rem;
}

#form-orcamento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    background-color: rgb(184, 186, 186);
    max-width: 500px;
    border-radius: .5rem;
    padding: 2rem;
    margin: 2rem auto;
}

.campo{
    display: flex;
    flex-direction: column;
}

.linha{
    grid-column: 1 / 3;
}

input[type="text"], [type="number"], select {
    background-color: #ADADBC;
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    outline: none;
}


    input[type="checkbox"], [type="range"], [type="radio"]{
    accent-color:  #1a2c8a;
}

input:focus{
    border: solid 1px #1a2c8a;
}